.main_chat
  .main_chat__box
    .main_chat__box__header
      .main_chat__box__header__leftbox
        .main_chat__box__header__leftbox__group
          = @group.name
        .main_chat__box__header__leftbox__member
          - @group.users.each do |t|
            = t.name
      = link_to "Edit", edit_group_path(@group), class: 'main_chat__box__header__edit'
    .main_chat__box__content
      = render @messages 
    .main_chat__box__footer
      .main_chat__box__footer__postform
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main_chat__box__footer__postform__text', placeholder: 'type a message'
          = f.label :image, class: 'main_chat__box__footer__postform__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'main_chat__box__footer__postform__image__file'
          = f.submit 'Send', class: 'main_chat__box__footer__send'
